Source: gnome-games
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
XSBC-Original-Maintainer: Josselin Mouette <joss@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Vcs-Bzr: https://code.launchpad.net/~ubuntu-desktop/gnome-games/ubuntu
Build-Depends: cdbs,
               debhelper (>= 5),
               quilt,
               intltool (>= 0.35.0), 
               gnome-doc-utils (>= 0.10.0),
               libgtk2.0-dev (>= 2.14.0),
               libgconf2-dev (>= 2.10),
               rarian-compat,
               gettext, 
               gnome-pkg-tools (>= 0.6),
               dpkg-dev (>= 1.13.19),
               guile-1.8-dev,
               libxml-parser-perl,
               librsvg2-dev (>= 2.14.0),
               libesd0-dev,
               libcairo2-dev,
               python (>= 2.5),
               python-gtk2-dev (>= 2.10.0), 
               python-gnome2-desktop-dev (>= 2.17.3),
               pkg-config,
               python-support (>= 0.3),
               libxml2-dev (>= 2.4.0),
               libglade2-dev,
               libggzmod-dev (>= 0.0.14),
               libggzdmod-dev (>= 0.0.14),
               libggz-gtk-dev (>= 0.0.14),
               libgstreamer0.10-dev (>= 0.10.11),
               liblaunchpad-integration-dev (>= 0.1.17)                
Standards-Version: 3.8.0
Homepage: http://www.gnome.org/projects/gnome-games/

Package: gnome-games
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gnome-games-data (>= ${gnome:Version}),
         gnome-games-data (<< ${gnome:NextVersion}),
         librsvg2-common,
         ${python:Depends},
         python-gtk2 (>= 2.10.0),
         python-gnome2,
         python-gnome2-desktop (>= 2.17.3),
         gstreamer0.10-plugins-base
Suggests: python-gtkglext1, python-opengl, gnome-hearts, gnome-games-extra-data
Conflicts: gnome-sudoku,
           glchess
Replaces: gnome-sudoku,
          glchess
Provides: gnome-sudoku,
          glchess
Description: games for the GNOME desktop
 These are the games from the official GNOME release. They have the look and
 feel of the GNOME desktop, but can be used without it.
 .
 The package contains the following games:
  * aisleriot - different solitaire card games
  * blackjack - the casino card game
  * glchess - chess game with 3D graphics
  * glines - color lines game, aka fiveormore
  * gnect - four in a row game
  * gnibbles - snake game, up to four players
  * gnobots2 - improved old BSD robots game
  * gnome-sudoku - Sudoku puzzle
  * gnometris - Tetris, the popular Russian game
  * gnomine - popular minesweeper puzzle game
  * gnotravex - puzzle where you match tile edges together
  * gnotski - klotski puzzle game
  * gtali - sort of poker with dice and less money
  * iagno - the popular Othello game
  * mahjongg - classic Eastern tile game
  * same-gnome - remove as many balls in as few moves as possible

Package: gnome-games-data
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         gnome-cards-data (>= ${gnome:Version}),
         gnome-cards-data (<< ${gnome:NextVersion})
Conflicts: gnome-games (<= 1:2.10.1-2),
           gnome-icon-theme (<< 2.14),
           glchess (<< 2.22),
           gnome-sudoku (<< 2.22)
Replaces: gnome-card-games,
          gnome-games-locale,
          glchess,
          gnome-sudoku
Recommends: gnome-games
Description: data files for the GNOME games
 This package contains the data files, sound and pictures used by the
 GNOME games.

Package: gnome-cards-data
Architecture: all
Depends: ${misc:Depends}
Conflicts: gnome-games-data (<< 1:2.14.2.1-1),
           gnome-games (<< 1:2.20),
           gnome-hearts (<< 0.1.3-4)
Description: data files for the GNOME card games
 This package contains pictures of card decks used by the card-based 
 GNOME games. Different themes are provided.

Package: gnome-games-servers
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: ggzd
Description: GGZ gaming zone servers for the GNOME games
 This package is needed if you want to host a GGZ gaming zone for the 
 GNOME games with network support:
  * gnect - four in a row game
  * gnibbles - snake game, up to four players
  * iagno - the popular Othello game

