Source: gnome-games
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
XSBC-Original-Maintainer: Josselin Mouette <joss@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Vcs-Bzr: https://code.launchpad.net/~ubuntu-desktop/gnome-games/ubuntu
Build-Depends: cdbs,
               debhelper (>= 5),
               quilt,
               intltool (>= 0.35.0), 
               gnome-doc-utils (>= 0.10.0),
               libgtk2.0-dev (>= 2.16.0),
               libgconf2-dev (>= 2.10),
               rarian-compat,
               gettext, 
               gnome-pkg-tools (>= 0.6),
               dpkg-dev (>= 1.13.19),
               guile-1.8-dev,
               libxml-parser-perl,
               librsvg2-dev (>= 2.14.0),
               libesd0-dev,
               libcairo2-dev,
               python (>= 2.5),
               python-gtk2-dev (>= 2.14.0),
               pkg-config,
               python-support (>= 0.3),
               libxml2-dev (>= 2.4.0),
               libggzmod-dev (>= 0.0.14),
               libggzdmod-dev (>= 0.0.14),
               libggz-gtk-dev (>= 0.0.14),
               libcanberra-gtk-dev,
               check,
               liblaunchpad-integration-dev (>= 0.1.17)
Standards-Version: 3.8.0
Homepage: http://www.gnome.org/projects/gnome-games/

Package: gnome-games
Architecture: all
Depends: glchess,
         glines,
         gnect,
         gnibbles,
         gnobots2,
         gnome-sudoku,
         gnomine,
         gnotravex,
         gnotski,
         iagno,
         mahjongg,
         same-gnome
Suggests: gnome-hearts,
          gnome-games-servers
Description: games for the GNOME desktop
 These are the games from the official GNOME release. They have the look and
 feel of the GNOME desktop, but can be used without it.
 .
 The package contains the following games:
  * glchess - chess game with 3D graphics
  * glines - color lines game, aka fiveormore
  * gnect - four in a row game
  * gnibbles - snake game, up to four players
  * gnobots2 - improved old BSD robots game
  * gnome-sudoku - Sudoku puzzle
  * gnomine - popular minesweeper puzzle game
  * gnotravex - puzzle where you match tile edges together
  * gnotski - klotski puzzle game
  * iagno - the popular Othello game
  * mahjongg - classic Eastern tile game
  * same-gnome - remove as many balls in as few moves as possible

Package: gnome-games-servers
Architecture: all
Depends: ${misc:Depends},
         gnect-server,
         gnibbles-server,
         iagno-server
Description: GGZ gaming zone servers for the GNOME games

Package: glchess
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         ${python:Depends},
         gnome-games-common (= ${source:Version}),
         python-gtk2 (>= 2.10.0),
         python-launchpad-integration
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Suggests: python-gtkglext1, python-opengl
Description: Chess game with 3D graphics

Package: glines
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Color lines game, aka fiveormore

Package: gnect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Suggests: gnect-server	 
Description: Four in a row game

Package: gnect-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Recommends: ggzd
Description: GGZ gaming zone server for gnect

Package: gnibbles
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Suggests: gnibbles-server
Description: Snake game, up to four players

Package: gnibbles-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Recommends: ggzd
Description: GGZ gaming zone server for gnibbles

Package: gnobots2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Improved old BSD robots game

Package: gnome-sudoku
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         ${python:Depends},
         gnome-games-common (= ${source:Version}),
         python-gtk2 (>= 2.10.0),
         python-launchpad-integration
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Sudoku puzzle

Package: gnomine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Popular minesweeper puzzle game

Package: gnotravex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Puzzle where you match tile edges together

Package: gnotski
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Klotski puzzle game

Package: iagno
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Suggests: iagno-server
Description: The popular Othello game

Package: iagno-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Recommends: ggzd
Description: GGZ gaming zone server for iagno

Package: mahjongg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Classic Eastern tile game

Package: same-gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gnome-games-common (= ${source:Version})
Conflicts: gnome-games (<< 1:2.27.5-0ubuntu2)
Replaces: gnome-games (<< 1:2.27.5-0ubuntu2)
Description: Remove as many balls in as few moves as possible

Package: gnome-games-common
Architecture: any
Depends: ${misc:Depends}
Replaces: gnome-cards-data
Provides: gnome-cards-data
Description: Common files for GNOME Games
